<section class="inside-section layout full-width bgInfo justifyContentCenter paddingTopLayoutM marginTopLayoutL wide"
         align="center" id="inside">
  <div class="inside-section-container box wide">
    <div class="inside-text-container alignItemsCenter displayFlex justifyContentCenter">
      <div class="inside-text-container__inner box wide">
        <h2 class="inside-title text heading level-2 textAlignCenter">
          {{translate "home.additionalinfo1.title"}}
        </h2>
        <p class="text body level-2 marginBottomLayoutM textAlignCenter">
          {{translate "home.additionalinfo1.subtitle"}}
        </p>
        <p class="text body level-3 textAlignCenter">
          {{translate "home.additionalinfo1.quote1"}}
        </p>
        <p class="text inside-text-margin body level-3 textAlignCenter">
          {{translate "home.additionalinfo1.quote2"}}
        </p>
        <p class="text inside-text-margin body level-3 textAlignCenter">
          {{translate "home.additionalinfo1.quote3"}}
        </p>
      </div>
      <div class="box wide inside-image-container">
        {{> lazy-image id="inside-image" classes="image displayBlock" height="470" width="376" easeIn="image--ease"}}
      </div>
    </div>
  </div>
</section>
