<section class="layout full-width justifyContentCenter paddingTopLayoutM wide" align="center" id="price">
  <div class="box wide price-container">
    <div class="alignItemsCenter displayFlex justifyContentCenter">
      <div class="box wide price-image-container">
        {{> lazy-image id="price-image" onlyDesktop="true" height="470" width="376" easeIn="image--ease"}}
      </div>
      <div class="box wide price-text-container">
        <h2 class="text heading level-2 textAlignCenter price-title">
          {{translate "home.additionalinfo2.title"}}
        </h2>
        <p class="text body level-2 marginBottomLayoutM textAlignCenter">
          {{translate "home.additionalinfo2.subtitle"}}
        </p>
        <p class="text body level-3 textAlignCenter">
          {{translate "home.additionalinfo2.quote1"}}
        </p>
        <p class="text body level-3 textAlignCenter price-text-margin">
          {{translate "home.additionalinfo2.quote2"}}
        </p>
        <p class="text body level-3 textAlignCenter price-text-margin">
          {{translate "home.additionalinfo2.quote3"}}
        </p>
      </div>
    </div>
  </div>
</section>
